:root {
  --accent-color: #2196f3;
  --logo-color: rgb(0, 0, 0);
  --text-color: #212121;
  --additional-color: #757575;
  --footer-namber: rgba(255, 255, 255, 0.6);
  --footer-background: #2f303a;
  --team-background: #f5f4fa;
  --main-background: #fff;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
}
.box {
  display: flex;
  align-items: center;
}
.header-logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  margin-right: 93px;
}
.logo-span {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
}
.header-nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link:hover {
  color: var(--accent-color);
}
.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.active {
  color: var(--accent-color);
}
.header-list {
  font-size: 14px;
  font-weight: 500;
  color: var(--additional-color);
  display: flex;
  gap: 50px;
  justify-content: end;
}
.header-link:hover {
  color: var(--accent-color);
}
.header-link {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/herobackground.jpg);
}
.hero-title {
  color: var(--main-background);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--main-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.advantages {
  padding-top: 94px;
}
.advantages-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.advantages-item::before {
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--team-background);
  display: block;
  margin-bottom: 30px;
  border-radius: 5px;
}
.advantages-item:first-child::before {
  background-image: url(../imeges/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.advantages-item:nth-child(2)::before {
  background-image: url(../imeges/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.advantages-item:nth-child(3)::before {
  background-image: url(../imeges/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.advantages-item:nth-child(4)::before {
  background-image: url(../imeges/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.advantages-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}
.advantages-text {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.work-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.work-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work-img {
  width: 100%;
}
.work-item {
  flex-basis: calc((100% - 60px) / 3);
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
  text-align: center;
}
.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-item {
  background-color: var(--main-background);
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 3px 3px;
}

.team-img {
  width: 270px;
  height: 260px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-capitan {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team-desc {
  color: var(--additional-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  color: var(--main-background);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}
.logo-color {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
}
.address {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.footer-list {
  margin-top: 9px;
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0px;
}
.footer-link {
  color: var(--footer-namber);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-style: normal;
}
.card {
  padding-top: 94px;
  padding-bottom: 94px;
}
.card-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
.card-btn {
  background-color: var(--team-background);
  padding-left: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.card-btn:hover {
  background-color: var(--accent-color);
  padding-left: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  color: var(--team-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.list-item {
  border: 1px solid #eee;
  flex-basis: calc((100% - 60px) / 3);
}
.list-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.list-img {
  width: 100%;
}
.list-title {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.list-text {
  color: var(--additional-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin-top: 4px;
}
.list-desc {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
