.advantages {
  padding-top: 94px;

  &__list {
    // display: flex;
    gap: 30px;
    // justify-content: center;
    @include flexbox($align: stretch, $wrap: nowrap);
  }

  &__item {
    &::before {
      content: "";
      width: 270px;
      height: 120px;
      background-color: $team-background;
      display: block;
      margin-bottom: 30px;
      border-radius: 5px;
      background-image: url(../imeges/antenna.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px;
    }
    &:nth-child(2)::before {
      background-image: url(../imeges/clock.png);
    }
    &:nth-child(3)::before {
      background-image: url(../imeges/diagram.png);
    }
    &:nth-child(4)::before {
      background-image: url(../imeges/astronaut.png);
    }
  }
  &__-title {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
  }
  &__text {
    color: $additional-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}
