.card {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (min-width: 480px) {
      width: 326px;
    }
    @media screen and (min-width: 768px) {
      justify-content: center;
      display: flex;
      width: auto;
    }

    @media screen and (min-width: 1200px) {
      justify-content: center;
      display: flex;
      width: auto;
    }
  }
  &__btn {
    background-color: $team-background;
    padding: 6px 22px;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition-duration: 250ms;
    transition-property: color, backround color, box-shadow, outline, border;
    @extend %ttf;
    // @media screen and (min-width: 480px) {
    //   padding: 6px 22px;
    // }
    // @media screen and (min-width: 768px) {
    //   padding: 6px 22px;
    // }

    // @media screen and (min-width: 1200px) {
    //  padding: 6px 22px;
    // }

    &:hover,
    &:focus {
      border: none;
      outline: 1px solid $accent-color;
      background-color: $accent-color;
      color: $team-background;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
  }
}
