.icons {
  &__text {
    color: $header-line;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    gap: 10px;
  }
  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-property: backround color, outline, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
    &:focus {
      border: none;
      outline: 1px solid $accent-color;
    }
  }
  &__symbol {
    width: 20px;
    height: 20px;
    fill: $main-background;
  }
}
