.footer {
  background-color: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    justify-content: baseline;
  }

  &__info {
    margin-right: 70px;
  }

  &__logo {
    color: $main-background;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
  }
  &__address {
    color: $main-background;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
  }
  &__list {
    margin-top: 9px;
  }
  &__item {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__link {
    color: $footer-namber;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
  }
}

.logo__color {
  color: $accent-color;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
}
