.header {
  padding: 16px 0px;
  border-bottom: 1px solid $header-line;

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }

  & > .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $logo-color;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
    line-height: 1.38;
    letter-spacing: 0.72px;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
      margin-right: 93px;
    }
  }

&__button {
    border: none;
    background: transparent; 
    width: 40px;
    height: 40px;
    @media  screen and (min-width: 768px) {
      display: none;
      
    }
  }

  &__burger {
    width: 40px;
    height: 40px;
    fill: black;
  }

  &__span {
    color: $accent-color;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
  }

  &__nav {
    margin-right: auto;
    display: none;

     @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__list {
    font-size: 14px;
    font-weight: 500;
    color: $additional-color;
    display: none;
    gap: 50px;

    @media screen and (min-width: 768px) {
      flex-direction: column;
      gap: 10px;
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 30px;
    }
  }
  &__icon {
    fill: $additional-color;
    width: 14px;
    height: 16px;
    transition-duration: 250ms;
    transition-property: fill;
    @extend %ttf;
  }
  &__link {
    // display: flex;
    // justify-content: flex-end;
    @include flexbox($justify: flex-start, $align: center, $wrap: nowrap);
    gap: 10px;

    &:hover,
    &:focus {
      .header__cell {
        color: $accent-color;
      }

      .header__icon {
        fill: $accent-color;
      }
    }
  }
  &__cell {
    color: $additional-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  .nav {
    &__list {
      display: none;
      gap: 50px;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
    &__link {
      color: $text-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition-duration: 250ms;
      transition-property: color;
      @extend %ttf;

      &:hover,
      &:focus {
        color: $accent-color;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 4px;
        margin-top: 10px;
        opacity: 0;
        position: absolute;
        top: 35px;
        transition-duration: 250ms;
        transition-property: backround color;
        @extend %ttf;
      }
      &:hover::after {
        opacity: 1;
      }
    }

    &__item {
      position: relative;
    }
  }
}
.active {
  color: $accent-color;
}

/////////////////////////////////////////////////////////

.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-background;
  padding: 48px 0px 48px 40px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);

  &__button {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
  }
  &__close {
    width: 40px;
    height: 40px;
    fill: $logo-color;
  }

  &__item:first-child {
    margin-bottom: 36px;
  }

  &__item:last-child {
    margin-top: 32px;
    margin-bottom: 200px;
  }

  &__link {
    color: $text-color;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;

    &:hover {
      color: $accent-color;
    }
  }
  &__item-contact:first-child {
    margin-bottom: 32px;

    .menu__contact-link {
      color: $accent-color;
      font-family: "Roboto";
      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.68px;
    }
  }

  &__contact-link {
    color: #757575;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  &__list-social {
    display: flex;
    margin-top: 64px;
    flex-wrap: wrap;
  }

  &__item-social {
    &:not(:last-child) {
      margin-right: 10px;
      display: flex;
      &::after {
        content: "";
        width: 1px;
        height: 22px;
        background: rgba(33, 33, 33, 0.2);
        display: flex;
        margin-left: 10px;
      }
    }
  }

  // &__item-social:last-child{
  //   margin-right: 0;
  // }

  &__link-social {
    color: #2196f3;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    letter-spacing: 0.36px;
  }
}
