.klienten {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    // display: flex;
    gap: 30px;
    // justify-content: center;
    // align-items: center;
    @include flexbox($wrap: nowrap);
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__link {
    display: block;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    transition-duration: 250ms;
    transition-property: backround color, outline, border-color;
    @extend %ttf;

    &:hover,
    &:focus {
      border-color: $accent-color;
      .klienten__symbol {
        fill: $accent-color;
      }
    }

    &:focus {
      border: none;
      outline: 1px solid $accent-color;
    }
  }

  &__symbol {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-property: color, fill;
    @extend %ttf;
  }
}
