.klienten {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__list {
    display: flex;
    gap: 30px;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

&__logo{
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
    }
}

  &__link {
    display: block;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 92px;
    transition-duration: 250ms;
    transition-property: backround color, outline, border-color;
    @extend %ttf;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 480px) {
      width: 210px;
    }
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }

    &:hover,
    &:focus {
      border-color: $accent-color;
      .klienten__symbol {
        fill: $accent-color;
      }
    }

    &:focus {
      border: none;
      outline: 1px solid $accent-color;
    }
  }

  &__symbol {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-property: color, fill;
    @extend %ttf;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
